<ion-view title="A Clínica" id="page9" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/I5f6ZvQRLOuu6oZFMNwW_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 13.9844px;"></div>
    <h1 id="aClNica-heading5" style="color:#FFFFFF;text-align:center;">Clínica Kênia Saad</h1>
    <div class="spacer" style="width: 300px; height: 17.9844px;"></div>
    <div id="aClNica-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Todo cuidado e dedicação que você merece.</p>

      <p style="color:#FFFFFF;">A Clínica Kênia Saad oferece todo cuidado essencial para a melhoria da beleza e autoestima por meio de tratamentos personalizados para cada cliente. Apresenta um ambiente de trabalho saudável, com máxima segurança e eficácia, adotando e cumprindo
        diariamente procedimentos rigorosos de higiene, com o objetivo de oferecer serviços de alta qualidade.</p>

      <p style="color:#FFFFFF;">
        <strong>Você encontrará:</strong>
      </p>

      <p style="color:#FFFFFF;">
        <strong>Cabines individuais e climatizadas, com música ambiente</strong>
      </p>

      <p style="color:#FFFFFF;">
        <strong>Profissionais especialistas em sua área de atuação e comprometidos O melhor tratamento disponível para cada caso.</strong>
      </p>
    </div>
  </ion-content>
</ion-view>