<ion-view title="Antes &amp; Depois" id="page3" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oeRyoAkSGGa1Zwf77MFI_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="antesDepois-markdown105" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Antes e depois</p>
    </div>
    <div>
      <img src="img/oLBfLs9kTkqsGKDZgF0P_safe_image.php" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="antesDepois-markdown107" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Antes e depois</p>
    </div>
    <div>
      <img src="img/aiELubsgR63jk2nIGgZC_safe_image.php" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="antesDepois-markdown106" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Antes e depois</p>
    </div>
    <div>
      <img src="img/9O9ZM80eRnW3yVZF1FFp_16640585_1446511245381948_7655660789507965199_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>