<ion-view title="Compartilhamento" id="page6" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7GXO39MYTTqdHh6fAYDP_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="spacer" style="height: 60px;"></div>

    <a href="https://www.facebook.com/Clinica.KeniaSaad" id="compartilhamento-button5" style="color:#0002A9;" class="button button-positive  button-block button-clear icon ion-social-facebook"> Facebook</a>


    <div class="spacer" style="height: 30px;"></div>


    <a href="https://www.instagram.com/clinicakeniasaad/" id="compartilhamento-button6" style="color:#D2DB57;" class="button button-dark  button-block button-clear icon ion-social-instagram"> Instagram</a>
    <div class="spacer" style="height: 30px;"></div>
    
    <a id="compartilhamento-button7" class="button button-dark  button-block button-clear" href="whatsapp://send?text=http://clinicakeniasaad.com">
      <button  style="color:#18972C;" class="button button-dark  button-block button-clear icon ion-social-whatsapp"> Whatsapp</button>
    </a>

  </ion-content>
</ion-view>