<ion-view title="Instalações" id="page12" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/zO9veWvYS1adItSOuFse_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    
    <div class="spacer" style="height: 20px;"></div>
    <div id="instalaEs-markdown104" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">A Clínica Kênia Saad oferece todo cuidado essencial para a melhoria da beleza e autoestima por meio de tratamentos personalizados para cada cliente. Apresenta um ambiente de trabalho saudável, com máxima segurança e eficácia, adotando e cumprindo
        diariamente procedimentos rigorosos de higiene, com o objetivo de oferecer serviços de alta qualidade.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="instalaEs-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="instalaEs-slide24" style="background:url(&quot;img/ac4TN9PXTGa50GGbYZ7y_Clinica-Kenia-Saad-salao.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide25" style="background:url(&quot;img/j9OfetxXTTSUPZgX1Q1l_Clinica-Kenia-Saad-beleza.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide26" style="background:url(&quot;img/k4ZXGpDtSKGRfHn56g38_Clinica-Kenia-Saad-recepcao.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="instalaEs-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="instalaEs-slide27" style="background:url(&quot;img/WNTGQf5YTFiP0UP7iD4A_Clinica-Kenia-Saad-cabine-01.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide28" style="background:url(&quot;img/zLpBtTAjRJyvqrnthh8s_Clinica-Kenia-Saad-cabine-03.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide29" style="background:url(&quot;img/HibLYNbZQHqtVvivmTbi_Clinica-Kenia-Saad-cabine-02.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="instalaEs-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="instalaEs-slide210" style="background:url(&quot;img/zr1UBjVRSG6e4I9QiS0Q_Clinica-Kenia-Saad-cuidados-com-o-cabelo.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide212" style="background:url(&quot;img/p9pb4aWyQOunqbY4dX1M_Clinica-Kenia-Saad-alongamento-de-cilios.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide211" style="background:url(&quot;img/CmFRosNcQIywRBoMFgMx_Clinica-Kenia-Saad-corte-de-cabelo.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="instalaEs-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="instalaEs-slide213" style="background:url(&quot;img/MtMP164cRJKhQOiYxhLp_Clinica-Kenia-Saad-tintura-do-cabelo.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide214" style="background:url(&quot;img/rjPQGPaNQGCCoFONKRLI_Clinica-Kenia-Saad-tratamento-capilar.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="instalaEs-slide215" style="background:url(&quot;img/gdkxNc6qSvyc4w3zDqga_Clinica-Kenia-Saad-cliente-especial.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>