<ion-view title="Kênia Saad" id="page1" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/rhckhdTC4LnWK9Ldp0wY_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 16.9922px;"></div>
    <div id="kNiaSaad-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">TENHA UM MOMENTO DE RELAXAMENTO BEM ESTAR EMBELEZAMENTO</p>

      <p style="color:#FFFFFF;">Bem-vindo a Clínica Kênia Saad. Desejamos o seu bem estar e inspirar o equilíbrio.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 7.99219px;"></div>
    <a ui-sref="menu.bemEstar" id="kNiaSaad-button1" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block" ng-click="showBannerAd();">Bem-Estar</a>
    <div class="spacer" style="width: 300px; height: 22.9922px;"></div>
    <a ui-sref="menu.salODeBeleza" id="kNiaSaad-button3" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block" ng-click="showBannerAd();">Salão</a>
    <div class="spacer" style="width: 300px; height: 22.9922px;"></div>
    <a ui-sref="menu.estTica" id="kNiaSaad-button2" class="button button-balanced  button-block" ng-click="showBannerAd();">Estética</a>
  </ion-content>
</ion-view>