<ion-view title="Localização - Contatos" id="page5" style="background-color:#444444;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/IqiI4Q7ESJ2VU3gq4Ef9_Logo-Clinica-Kenia-Saad_horizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="localizaOContatos-heading4" style="color:#FFFFFF;text-align:center;">Entre em contato</h2>
    <div>
      <img src="img/pQS5qUb1RhenV8ltLPfS_maps.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="localizaOContatos-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Estamos localizados no Sudoeste, Edifício Dakota Shopping. Endereço: CLSW 301 Bloco C, sala 113</p>
    </div>
    <div>
      <img src="img/l7UCCeOTUanJVd80AtKz_tel.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="localizaOContatos-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Se você tiver dúvidas ou precisar de informações adicionais, por favor ligue para : (61) 3026-0033 / 3026-0030 / 99327-0573 (WhatsApp) ou utilize nosso formulário de contato!</p>
    </div>
    <p>
      <u></u>
    </p>
  </ion-content>
</ion-view>