<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" ui-sref="menu.kNiaSaad" menu-close="">Home</ion-item>
        <ion-item id="menu-list-item8" ui-sref="menu.reserva" menu-close="">PRÉ-RESERVA</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.aClNica" menu-close="">A Clínica</ion-item>
        <ion-item id="menu-list-item111" ui-sref="menu.instalaEs" menu-close="">Instalações</ion-item>
        <ion-item id="menu-list-item12" ui-sref="menu.promoEs" menu-close="">Promoções</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.antesDepois" menu-close="">Antes &amp; Depois</ion-item>
        <ion-item id="menu-list-item4" ui-sref="menu.sugestEsTrabalheConosco" menu-close="">Sugestões</ion-item>
        <ion-item id="menu-list-item5" ui-sref="menu.localizaOContatos" menu-close="">Localização - Contatos</ion-item>
        <ion-item id="menu-list-item6" ui-sref="menu.compartilhamento" menu-close="">Compartilhamento</ion-item>
        <ion-item id="menu-list-item7" ui-sref="menu.sugestEsTrabalheConosco" menu-close="">Trabalhe conosco</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>